@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap');


body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background: #222;
  color: rgba(229, 229, 229, 0.91);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
